
.clock{
  width: 200px;
  height: 200px;
}
.clock:hover,
.backgraundimg{
  background-color: lemonchiffon;
  color: red;
  fill: red;
  stroke: green;
  stroke-width: 1px;
}


.backgraundimg{
  width: 200px;
  height: 200px;
  background-image: url(../css/images/clock.svg);
  background-size: 200px;
  background-repeat: no-repeat;
}