/* FE-003: holder */
.holder{
  display:flex;
  flex-wrap:wrap-reverse;
  flex-direction: row-reverse;
  width:600px;
  height:400px;
  outline:1px dotted #000;
}

.item{
  height:200px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.item:nth-child(1){
  background-color:red;
  width:300px;
  order:5;
  border-left:5px solid #000;
  border-top:5px solid #000;
  border-radius:15px 0 0 0;
}

.item:nth-child(2){
  width:200px;
  background-color:blue;
  order:2;
  border-bottom:5px solid #000;
}

.item:nth-child(3){
  width:200px;
  background-color:blueviolet;
  order:3;
  border-left:5px solid #000;
  border-bottom:5px solid #000;
}

.item:nth-child(4){
  width:200px;
  background-color:green;
  order:1;
  border-bottom:5px solid #000;
  border-right:5px solid #000;
}

.item:nth-child(5){
  background-color:orange;
  width:300px;
  order:4;
  border-top:5px solid #000;
  border-right:5px solid #000;
  border-radius:0 15px 0 0;
}