/* FE-009: z-index boxes */
.box2{
  width:300px;
  height:300px;
  background-color: aliceblue;
  position: relative;
}

.box3{
  width:100px;
  height:100px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.box3:nth-child(1){
  position:absolute;
  top:10%;
  left:10%;
  z-index:1;
  background-color: rgb(255,0,0);
}

.box3:nth-child(2){
  position:absolute;
  top:34%;
  left:34%;
  z-index:2;
  background-color: rgb(0,0,255);
}

.box3:nth-child(3){
  position:absolute;
  bottom:10%;
  right:10%;
  z-index:1;
  background-color: rgb(0,255,0);
}