/* FE-008: modal */
.modal-html{
  width:400px;
  height:100px;
  display:flex;
  justify-content:center;
  align-items:center;
  border:none;
  border-radius:15px;
  background-color: teal;
  font-size:26px;
  font-family:'Montserrat', serif;
  color:#ffcadc;
  box-shadow: inset 0 0 16px 8px rgba(0,0,0,.3), 0 0 6px #000;
  outline:1px solid #000;
}

.btn-open:hover{
  background-color:palevioletred;
  color:#bbffe8;
}
.btn-open:hover::before{
  background-color: rosybrown;
}
.btn-open:active{
  background-color:#d89d70;
  color:#a55517;
  box-shadow:none;
}
.btn-open:active::before{
  background-color:#d89d70;
}

/* backdrop + modal */
.backdrop{
  position:fixed;
  top:0; left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  opacity:1;
}

.is-hidden{
  opacity:0;
  pointer-events:none;
}

.no-scroll{ overflow:hidden; }

.modal{
  position:absolute;
  top:50%; left:50%;
  min-width:400px;
  min-height:300px;
  padding:15px;
  text-align:center;
  background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
  transform: translate(-50%, -50%);
}

.modal .btn{
  position:absolute;
  top:10px;
  right:10px;
}